NET "sw1" LOC = P47;
NET "sw2" LOC = P48;
NET "sw3" LOC = P49;
NET "sw4" LOC = P50;
NET "sw5" LOC = P51;
NET "sw6" LOC = P54;
NET "operands[0]" LOC = P46;
NET "operands[1]" LOC = P45;
NET "operands[2]" LOC = P44;
NET "operands[3]" LOC = P43;
NET "operands[4]" LOC = P42;
NET "operands[5]" LOC = P41;
NET "operands[6]" LOC = P33;
NET "operands[7]" LOC = P32;
NET "operands[8]" LOC = P31;
NET "operands[9]" LOC = P30;
NET "display0[0]" LOC = P77;
NET "display0[1]" LOC = P78;
NET "display0[2]" LOC = P79;
NET "display0[3]" LOC = P82;
NET "display0[4]" LOC = P83;
NET "display0[5]" LOC = P84;
NET "display0[6]" LOC = P85;
NET "display1[0]" LOC = P68;
NET "display1[1]" LOC = P69;
NET "display1[2]" LOC = P70;
NET "display1[3]" LOC = P71;
NET "display1[4]" LOC = P72;
NET "display1[5]" LOC = P75;
NET "display1[6]" LOC = P76;
NET "display2[0]" LOC = P55;
NET "display2[1]" LOC = P58;
NET "display2[2]" LOC = P59;
NET "display2[3]" LOC = P60;
NET "display2[4]" LOC = P62;
NET "display2[5]" LOC = P63;
NET "display2[6]" LOC = P64;
NET "display3[0]" LOC = P20;
NET "display3[1]" LOC = P21;
NET "display3[2]" LOC = P24;
NET "display3[3]" LOC = P25;
NET "display3[4]" LOC = P27;
NET "display3[5]" LOC = P28;
NET "display3[6]" LOC = P29;
NET "display4[0]" LOC = P11;
NET "display4[1]" LOC = P12;
NET "display4[2]" LOC = P13;
NET "display4[3]" LOC = P15;
NET "display4[4]" LOC = P16;
NET "display4[5]" LOC = P18;
NET "display4[6]" LOC = P19;
NET "display5[0]" LOC = P3;
NET "display5[1]" LOC = P4;
NET "display5[2]" LOC = P5;
NET "display5[3]" LOC = P6;
NET "display5[4]" LOC = P7;
NET "display5[5]" LOC = P8;
NET "display5[6]" LOC = P10;