NET "clk" LOC = P57;
NET "mode" LOC = P47;
NET "set" LOC = P48;
NET "op1" LOC = P49;
NET "op2" LOC = P50;
NET "reset" LOC = P54;
NET "display6[6]" LOC = P3;
NET "display6[5]" LOC = P4;
NET "display6[4]" LOC = P5;
NET "display6[3]" LOC = P6;
NET "display6[2]" LOC = P7;
NET "display6[1]" LOC = P8;
NET "display6[0]" LOC = P10;
NET "display5[6]" LOC = P11;
NET "display5[5]" LOC = P12;
NET "display5[4]" LOC = P13;
NET "display5[3]" LOC = P15;
NET "display5[2]" LOC = P16;
NET "display5[1]" LOC = P18;
NET "display5[0]" LOC = P19;
NET "display4[6]" LOC = P20;
NET "display4[5]" LOC = P21;
NET "display4[4]" LOC = P24;
NET "display4[3]" LOC = P25;
NET "display4[2]" LOC = P27;
NET "display4[1]" LOC = P28;
NET "display4[0]" LOC = P29;
NET "display3[6]" LOC = P55;
NET "display3[5]" LOC = P58;
NET "display3[4]" LOC = P59;
NET "display3[3]" LOC = P60;
NET "display3[2]" LOC = P62;
NET "display3[1]" LOC = P63;
NET "display3[0]" LOC = P64;
NET "display2[6]" LOC = P68;
NET "display2[5]" LOC = P69;
NET "display2[4]" LOC = P70;
NET "display2[3]" LOC = P71;
NET "display2[2]" LOC = P72;
NET "display2[1]" LOC = P75;
NET "display2[0]" LOC = P76;
NET "display1[6]" LOC = P77;
NET "display1[5]" LOC = P78;
NET "display1[4]" LOC = P79;
NET "display1[3]" LOC = P82;
NET "display1[2]" LOC = P83;
NET "display1[1]" LOC = P84;
NET "display1[0]" LOC = P85;