NET "osc" LOC = P57;
NET "load_value[0]" LOC = P46;
NET "load_value[1]" LOC = P45;
NET "load_value[2]" LOC = P44;
NET "load_value[3]" LOC = P43;
NET "load_value[4]" LOC = P42;
NET "load_value[5]" LOC = P41;
NET "load_value[6]" LOC = P33;
NET "load_value[7]" LOC = P32;
NET "clear" LOC = P47;
NET "load" LOC = P48;
NET "clk" LOC = P49;
NET "display1[6]" LOC = P68;
NET "display1[5]" LOC = P69;
NET "display1[4]" LOC = P70;
NET "display1[3]" LOC = P71;
NET "display1[2]" LOC = P72;
NET "display1[1]" LOC = P75;
NET "display1[0]" LOC = P76;
NET "display2[6]" LOC = P77;
NET "display2[5]" LOC = P78;
NET "display2[4]" LOC = P79;
NET "display2[3]" LOC = P82;
NET "display2[2]" LOC = P83;
NET "display2[1]" LOC = P84;
NET "display2[0]" LOC = P85;